<!doctype html>
<html lang="en" ng-app="sblogApp">
<head>
  <meta charset="utf-8">
  <title ng-if="title == ''">Sheimi's Hive</title>
  <title ng-if="title != ''">{{'{{'}} title {{'}}'}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ static("images/favicon.ico") }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ static("bower_components/bootstrap/dist/css/bootstrap.css") }}">
  <link rel="stylesheet" href="{{ static("css/lib.min.css") }}">
  <link rel="stylesheet" href="{{ static("css/app.min.css") }}">
  <script src="{{ static("js/lib.min.js") }}"></script>
  <script src="{{ static("js/app.min.js") }}"></script>
</head>
<body>
  <div class="container main-content">
    <header>
      <div class="container sm-header">
        <div class="row">
          <div id="title" class="col-sm-5">
            <h1><a href="/" title="Home">Sheimi's Hive</a></h1>
          </div>
          <div class="col-sm-7">
            <div class="navigate clearfix">
              <a href="/">Home</a>
              <a href="/archives">Archives</a>
              <a href="http://projects.sheimi.me" target="_blank">Projects</a>
              <a href="/tags">Tags Cloud</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-img">
        <div class="profile-img-wrapper row">
          <div class="profile-img">
            <a href="#" class="thumbnail">
              <img src="/static/images/profile.png" alt="profile">
            </a>
          </div>
        </div>
        <h1 id="large-title">
          <a href="/" title="Home">Sheimi's Hive</a>
        </h1>
        <div class="row contact">
          <a class="bs-tooltip" data-toggle="tooltip"
            data-placement="bottom" data-original-title="Mail to me"
            href="mailto:sheimi.zhang@gmail.com" target="_blank">
            <i class="icon-mail"></i>
          </a>
          <a class="bs-tooltip" data-toggle="tooltip"
            data-placement="bottom" data-original-title="Github Profile"
            href="https://github.com/sheimi/" target="_blank">
            <i class="icon-github"></i>
          </a>
          <a class="bs-tooltip" data-toggle="tooltip"
            data-placement="bottom" data-original-title="Twitter"
            href="http://twitter.com/sheimi_nju/" target="_blank">
            <i class="icon-twitter-bird-1"></i>
          </a>
          <a class="bs-tooltip" data-toggle="tooltip"
            data-placement="bottom" data-original-title="Google+ Profile"
            href="https://plus.google.com/+SheimiZhang/about/"
            target="_blank">
            <i class="icon-googleplus-rect"></i>
          </a>
          <a class="bs-tooltip" data-toggle="tooltip"
            data-placement="bottom" data-original-title="Rss Feed"
            href="/atom.xml" target="_blank">
            <i class="icon-rss-alt"></i>
          </a>
        </div>
        <div class="nav-search-wrapper clearfix">
          <div class="navigate clearfix col-sm-6">
            <a href="/">Home</a>
            <a href="/archives">Archives</a>
            <a href="http://projects.sheimi.me" target="_blank">Projects</a>
            <a href="/tags">Tags Cloud</a>
          </div>
          <div class="search col-sm-6">
            <div class="gcse-search"></div>
          </div>
        </div>
      </div>
    </header>
    <section class="site-main">
      <div class="row">
        <div class="site-main-inner col-sm-9">
          <div class="posts-container" ng-view></div>
        </div>
        <div class="col-sm-3 sider">
          <div class="recent-posts" data-spy="affix" data-offset-top="418" ng-controller="RecentPostCtrl">
            <h2>Recent Posts:</h2>
            <ul class="posts sheimi-show post-archives-list" ng-class="willHide">
              <li class="recent-post" ng-repeat="post in posts">
                <a href="{{ '{{' }} post.url {{ '}}' }}">
                  &raquo; &nbsp; {{ '{{' }}  post.title {{ '}}' }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <p>
          Designed and built by Rizhen Zhang,
          Inspired by
          <a href="https://www.byvoid.com" target="_blank">Beyond the Void</a>
        </p>
        <p>
          Posts are copyright &copy; <a href="/">Sheimi's Hive</a>.
          The template are
          <a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a>
          Licensed.
        </p>
      </div>
      <!-- Some Add-Ons -->
    </footer>
  </div>

  <script type="text/javascript">
  (function() {
    var cx = '013771839325570011739:ex-mxxjy4ni';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29300274-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>
