body {
  background-image: url(/static/images/bg.gif);
  background-attachment: fixed;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-color: #c6e2ee; }

body, p {
  font-family: "Luxi Sans", "Lucida Grande", "Hiragino Sans GB", sans-serif; }

.list-date {
  font-family: "Lucida Console", Monaco, monospace; }

a {
  color: #7568AA;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  a:visited {
    color: #7568AA;
    text-decoration: none; }
  a:hover {
    color: #9A89DB; }
  a:focus {
    color: #9A89DB;
    text-decoration: none; }

.navigate a:hover {
  text-decoration: none; }

ul.post-archives-list, ul.posts {
  margin: 0;
  padding: 0; }
  ul.post-archives-list li, ul.posts li {
    list-style: none; }

article.post {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5; }

.meta {
  margin-top: 30px;
  text-align: center; }
  .meta .date {
    height: auto;
    text-align: center;
    margin-bottom: 15px;
    background: #CAD7F0;
    border: 4pt solid #fff;
    border-radius: 100px;
    -webkit-box-shadow: 0 0px 3px #b7b7b7;
    box-shadow: 0 0px 3px #b7b7b7;
    padding: 10px 30px;
    text-shadow: 0px 1px #81bcd1; }
    .meta .date .month, .meta .date .day, .meta .date .year {
      display: block;
      color: white; }
    .meta .date .day {
      font-size: 31px; }
  .meta .date, .meta .location, .meta .author {
    color: #777777;
    display: block; }
  .meta .location, .meta .author {
    font-size: 13px;
    line-height: 1.3em; }
  .meta .post-tags {
    margin: 0;
    padding: 0;
    margin-top: 10px; }

.header #title, .header .contact-header, .header #navigate {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.gcse-search-wrapper {
  padding-left: 40px; }

body .header #title {
  font-size: 38px; }
  body .header #title a {
    display: inline-block;
    padding: 8px; }
body .header .header-container-wrapper {
  padding: 0; }
body .header .header-img img {
  width: 100%; }

.main-content {
  margin-top: 70px;
  margin-bottom: 100px;
  padding: 0;
  background-color: white;
  -webkit-box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2); }
  .main-content .site-main {
    padding: 20px;
    padding-top: 0; }
    .main-content .site-main .archives h1 {
      text-align: center; }
    .main-content .site-main h1.post-title {
      font-size: 2.4em;
      padding: 20px 0; }
    .main-content .site-main h2 {
      font-size: 1.5em;
      border-bottom: solid 1px #eeeeee;
      font-weight: 400;
      margin: 10px 0;
      padding: 5px 0; }
    .main-content .site-main h3 {
      font-size: 1.3em;
      font-weight: 300; }

.post p {
  line-height: 1.8em; }
.post div.highlight pre {
  border: 0;
  border-radius: 0;
  background-color: #FAFBFF;
  border-left: 3px solid #D4E5FA; }
.post .content {
  color: #555555;
  font-size: 1.1em; }
  .post .content p, .post .content li, .post .content ul {
    font-size: 1em; }
  .post .content ul {
    padding-left: 20px; }
  .post .content li {
    line-height: 1.5em; }
.post ul.post-tags {
  list-style: none; }
.post .end-tag {
  margin-top: 20px; }
  .post .end-tag a {
    color: #8085C1; }
    .post .end-tag a:visited {
      color: #8085C1; }
  .post .end-tag span {
    display: block;
    margin-bottom: 5px; }
.post blockquote {
  font-size: 14px;
  background-color: #FAFBFF;
  border-left: 3px solid #D4E5FA; }
  .post blockquote ul {
    margin: 0;
    padding: 0; }

.sider .recent-posts {
  padding: 0; }
  .sider .recent-posts.affix {
    top: 10px; }

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
  text-align: center;
  border-top: 1px solid #E5E5E5;
  background-color: white; }
  .footer a {
    color: #8085C1; }
    .footer a:visited {
      color: #8085C1; }
  .footer p {
    margin: 1em 0; }

.profile-img-wrapper {
  padding-top: 35px; }
  .profile-img-wrapper .profile-img {
    width: 11.6%;
    margin-left: 44.2%; }

#large-title {
  text-align: center;
  margin: 0; }
  #large-title h1 {
    font-size: 36px; }
  #large-title a, #large-title a:hover {
    color: white; }

.contact {
  margin-top: 10px;
  list-style: none;
  text-align: center; }
  .contact a {
    padding: 0px 10px;
    display: inline-block;
    color: #ddd; }
    .contact a:hover {
      color: white; }

.nav-search-wrapper {
  background: rgba(255, 255, 255, 0.3);
  margin-top: 28px; }
  .nav-search-wrapper .navigate {
    margin-top: 0;
    text-align: left; }
    .nav-search-wrapper .navigate a {
      font-size: 16px;
      padding: 15px 8px 16px 8px;
      font-weight: bold;
      display: inline-block;
      color: #ddd;
      border-bottom: 3px solid transparent; }
      .nav-search-wrapper .navigate a:hover {
        color: white;
        background: rgba(202, 215, 240, 0.35);
        border-bottom: 3px solid #9A89DB; }

.search input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.gsc-control-cse * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.gsc-control-cse {
  font-family: Arial, sans-serif !important;
  border: 0 !important;
  background-color: transparent !important; }

.cse .gsc-control-cse, .gsc-control-cse {
  background-color: transparent !important;
  border: 0 !important;
  padding: 9px !important; }

.gsc-input-box {
  background: rgba(255, 255, 255, 0.8) !important; }

.gsc-input {
  background: transparent !important; }

.sheimi-show {
  -webkit-transition: opacity linear 0.3s;
  -o-transition: opacity linear 0.3s;
  transition: opacity linear 0.3s; }
  .sheimi-show.sheimi-hide {
    opacity: 0; }

.post-archives-list {
  line-height: 30px; }
  .post-archives-list .ng-enter,
  .post-archives-list .ng-move,
  .post-archives-list .ng-leave {
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s; }
    .post-archives-list .ng-enter span,
    .post-archives-list .ng-move span,
    .post-archives-list .ng-leave span {
      -webkit-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s; }
  .post-archives-list .ng-move,
  .post-archives-list .ng-leave.ng-leave-active {
    opacity: 0; }
    .post-archives-list .ng-move span,
    .post-archives-list .ng-leave.ng-leave-active span {
      max-height: 0; }
  .post-archives-list .ng-move.ng-move-active,
  .post-archives-list .ng-leave {
    opacity: 1; }
    .post-archives-list .ng-move.ng-move-active span,
    .post-archives-list .ng-leave span {
      max-height: 30px; }
  .post-archives-list .ng-enter {
    opacity: 0; }
  .post-archives-list .ng-enter.ng-enter-active {
    opacity: 1; }

@media (max-width: 767px) {
  .main-content {
    margin: 0; }

  #title, #navigate {
    text-align: center; }

  .meta .author, .meta .location {
    display: inline-block;
    margin-left: 10px; }
  .meta .date {
    border-radius: 0; }
    .meta .date .day, .meta .date .month, .meta .date .year {
      display: inline; }
    .meta .date .day {
      font-size: 14px; }

  .sider, .header-img {
    display: none; }

  .navigate {
    margin-top: 14px;
    list-style: none;
    text-align: center; }
    .navigate a {
      font-size: 13px;
      padding: 15px 8px 16px 8px;
      font-weight: bold;
      display: inline-block;
      border-bottom: 3px solid transparent; }
      .navigate a:hover {
        border-bottom: 3px solid #9A89DB; } }
@media (min-width: 768px) and (max-width: 991px) {
  .sm-header {
    display: none; }

  .meta .date {
    width: 114px; }

  .header-img {
    height: 229px;
    background-image: url(/static/images/header750_229.png);
    background-color: #555555; }

  h1#large-title {
    margin-top: -10px;
    font-size: 28px; }

  .profile-img-wrapper {
    padding-top: 15px; }

  .contact {
    margin-top: 5px; }
    .contact a {
      font-size: 18px; }

  .nav-search-wrapper {
    margin-top: 15px; }
    .nav-search-wrapper .navigate a {
      padding: 9px 8px 8px 8px;
      font-size: 13px; }

  .cse .gsc-control-cse, .gsc-control-cse {
    padding: 3px !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .sm-header {
    display: none; }

  .meta .date {
    width: 114px;
    margin-left: 19px; }

  .header-img {
    height: 297px;
    background-image: url(/static/images/header970_297.png);
    background-color: #555555; }

  h1#large-title {
    font-size: 32px; }

  .profile-img-wrapper {
    padding-top: 25px; }

  .contact {
    margin-top: 5px; }
    .contact a {
      font-size: 18px; }

  .nav-search-wrapper {
    margin-top: 15px; }
    .nav-search-wrapper .navigate a {
      padding: 16px 8px 14px 8px; } }
@media (min-width: 1200px) {
  .sm-header {
    display: none; }

  .meta .date {
    width: 114px;
    margin-left: 35px; }

  .header-img {
    height: 358px;
    background-image: url(/static/images/header1170_358.png);
    background-color: #555555; }

  .contact a {
    font-size: 22px; } }
.cloud a:hover, .post a:hover {
  text-decoration: underline; }

.post h1 a:hover {
  text-decoration: none; }
@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url('/static/fonts/fontello.eot');
  src: url('/static/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/fontello.woff') format('woff'),
       url('/static/fonts/fontello.ttf') format('truetype'),
       url('/static/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: fontello;
  font-style: normal;
  speak: none;

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-mail:before { content: "✉"; } /* '\2709' */
.icon-rss-alt:before { content: ""; } /* '\e73b' */
.icon-twitter-bird-1:before { content: ""; } /* '\e800' */
.icon-github:before { content: ""; } /* '\f308' */
.icon-googleplus-rect:before { content: ""; } /* '\f309' */
/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
